# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
dist/
build/

# Env
.env
*.env

# Database (lokalne)
*.db
*.sqlite

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
